nunit3-test-result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Mon Jul 08 2019 09:19:48 GMT+1000 (Australian Eastern Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="test-run">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="environment">
                                   <xs:complexType>
                                          <xs:attribute name="nunit-version" type="xs:string"></xs:attribute>
                                          <xs:attribute name="clr-version" type="xs:string"></xs:attribute>
                                          <xs:attribute name="os-version" type="xs:string"></xs:attribute>
                                          <xs:attribute name="platform" type="xs:string"></xs:attribute>
                                          <xs:attribute name="cwd" type="xs:string"></xs:attribute>
                                          <xs:attribute name="machine-name" type="xs:string"></xs:attribute>
                                          <xs:attribute name="user" type="xs:string"></xs:attribute>
                                          <xs:attribute name="user-domain" type="xs:string"></xs:attribute>
                                          <xs:attribute name="culture" type="xs:string"></xs:attribute>
                                          <xs:attribute name="uiculture" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="test-suite">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="properties">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="property" maxOccurs="unbounded">
                                                                             <xs:complexType>
                                                                                    <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="value" type="xs:int"></xs:attribute>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="failure">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="message" type="xs:string">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="#cdata-section"></xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="test-suite" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="properties">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="property" maxOccurs="unbounded">
                                                                                                  <xs:complexType>
                                                                                                         <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                                                         <xs:attribute name="value" type="xs:string"></xs:attribute>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                      <xs:element name="failure">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="message" type="xs:string">
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="#cdata-section"></xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                      <xs:element name="test-case" maxOccurs="unbounded">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="failure">
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="message" type="xs:string">
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="#cdata-section"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="stack-trace" type="xs:string">
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="#cdata-section"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                    <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                                                    <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="fullname" type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="result" type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="time" type="xs:double"></xs:attribute>
                                                                                    <xs:attribute name="asserts" type="xs:int"></xs:attribute>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                               <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                               <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="fullname" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="testcasecount" type="xs:int"></xs:attribute>
                                                               <xs:attribute name="result" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="time" type="xs:double"></xs:attribute>
                                                               <xs:attribute name="total" type="xs:int"></xs:attribute>
                                                               <xs:attribute name="passed" type="xs:int"></xs:attribute>
                                                               <xs:attribute name="failed" type="xs:int"></xs:attribute>
                                                               <xs:attribute name="inconclusive" type="xs:int"></xs:attribute>
                                                               <xs:attribute name="skipped" type="xs:int"></xs:attribute>
                                                               <xs:attribute name="asserts" type="xs:int"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="type" type="xs:string"></xs:attribute>
                                          <xs:attribute name="id" type="xs:int"></xs:attribute>
                                          <xs:attribute name="name" type="xs:string"></xs:attribute>
                                          <xs:attribute name="fullname" type="xs:string"></xs:attribute>
                                          <xs:attribute name="testcasecount" type="xs:int"></xs:attribute>
                                          <xs:attribute name="result" type="xs:string"></xs:attribute>
                                          <xs:attribute name="time" type="xs:double"></xs:attribute>
                                          <xs:attribute name="total" type="xs:int"></xs:attribute>
                                          <xs:attribute name="passed" type="xs:int"></xs:attribute>
                                          <xs:attribute name="failed" type="xs:int"></xs:attribute>
                                          <xs:attribute name="inconclusive" type="xs:int"></xs:attribute>
                                          <xs:attribute name="skipped" type="xs:int"></xs:attribute>
                                          <xs:attribute name="asserts" type="xs:int"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                     <xs:attribute name="id" type="xs:int"></xs:attribute>
                     <xs:attribute name="name" type="xs:string"></xs:attribute>
                     <xs:attribute name="fullname" type="xs:string"></xs:attribute>
                     <xs:attribute name="testcasecount" type="xs:int"></xs:attribute>
                     <xs:attribute name="result" type="xs:string"></xs:attribute>
                     <xs:attribute name="time" type="xs:double"></xs:attribute>
                     <xs:attribute name="total" type="xs:int"></xs:attribute>
                     <xs:attribute name="passed" type="xs:int"></xs:attribute>
                     <xs:attribute name="failed" type="xs:int"></xs:attribute>
                     <xs:attribute name="inconclusive" type="xs:int"></xs:attribute>
                     <xs:attribute name="skipped" type="xs:int"></xs:attribute>
                     <xs:attribute name="asserts" type="xs:int"></xs:attribute>
                     <xs:attribute name="run-date" type="xs:date"></xs:attribute>
                     <xs:attribute name="start-time" type="xs:string"></xs:attribute>
                 </xs:complexType>
          </xs:element>
   </xs:schema>